body, html{
    height: 100%;
    margin: 0px;
}
body{
    background-color:black
}

.dropbtn {
    background-color: palegreen;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: white}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: palegreen;
  }


.hero-image{
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("../images/IMG_5694.CR3.jpg");
    height:50%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    
}

.hero-text{
    color:white;
    text-align:center;
    position: absolute;
    Top: 50%;
    left:50%;
    transform:translate(-50%,-50%)
}

#main{
    width:75%;
    float:left;
    height:100%;
    padding-left:20px;
    padding-top:20px;
}

.main-articles {
    float: left;
    width: 33.33%;
    padding: 15px;
    margin:30px;
  }
  

  .main:after {
    
    display: table;
    clear: both;
  }
  


#side{
    width: 20%;
    float: right;
    height: 100%;
    padding: 20px;
}

#profile-image{
    width:100px;
    border-radius:50%;
    border:5px solid lightblue;
}

#profile{
    text-align:center;
}

.side-articles ul{
    list-style-type: none;
    padding-left:0px;
}

#profile h2{
    display:inline;
}
#profile-details{
    margin-right:30px;
    text-align:center;
}

.side-articles, .main-articles{
    padding:10px;
    margin-bottom:10px;
    border-radius:10px;
}
.side-articles{
    background-color:darkgray;
    text-align:center; 
}
.main-articles{
    background-color:lightgray;

}
form{
    margin-top:20px;
}
textarea, input{
    background-color:lightgray;
    border-radius:5px;
    padding:5px;
    margin:5px;
}